//MOBILE
#hero-image-northern {
    background-image: url(../images/northern-hero.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
}